<ng-content/>

@if (editable()) {
  <button
    class="ims-focus-mode__trigger"
    [class.ims-input-action__button]="!external()"
    ims-button-edit
    ims-focus-mode-trigger
    [disabled]="open()"
    [attr.aria-label]="triggerLabel()"
    [ims-tooltip]="triggerTooltip()"
    (click)="openFocusMode()"
  ></button>
} @else {
  <button
    class="ims-focus-mode__trigger"
    [class.ims-input-action__button]="!external()"
    ims-button-icon
    ims-focus-mode-trigger
    [disabled]="open()"
    [attr.aria-label]="triggerLabel()"
    [ims-tooltip]="triggerTooltip()"
    (click)="openFocusMode()"
  >
    <ims-icon>zoom_in</ims-icon>
  </button>
}
