@if (snackbarRef.isProgress()) {
    <app-fetch-indicator
        class="ims-snackbar__progress-indicator"
        [state]="snackbarRef.progressState()"
        [size]="22"
    />
}

@if (contentComponent) {
    <ng-container
        *ngComponentOutlet="contentComponent; injector: contentInjector"
    />
} @else {
    <span class="ims-snackbar__message">{{ message }}</span>
}

@if (config.dismissible) {
    <button
        type="button"
        class="ims-snackbar__dismiss"
        [class.ims-snackbar__dismiss--hidden]="
            snackbarRef.isProgress() && !snackbarRef.progressCloseVisible()
        "
        [disabled]="snackbarRef.isProgress() && !snackbarRef.progressCloseVisible()"
        [attr.aria-hidden]="
            snackbarRef.isProgress() && !snackbarRef.progressCloseVisible()
        "
        aria-label="Dismiss notification"
        (click)="snackbarRef.dismiss()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
}
