ims-grid2 {
    display: grid;
    grid-template-columns: var(--ims-grid2-template);
    column-gap: var(--ims-grid2-column-gap);
    padding-inline-start: var(--ims-grid2-offset-start);
    padding-inline-end: var(--ims-grid2-offset-end);
    width: 100%;
    min-width: 0;
    box-sizing: border-box;

    :is(ims-grid2-row, ims-grid2-header) {
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        align-items: center;
        min-width: 0;
        width: 100%;
        box-sizing: border-box;

        :where(*:has(ims-grid2-cell)) {
            display: grid !important;
            grid-column: 1 / -1 !important;
            grid-template-columns: subgrid !important;
            column-gap: inherit;
            align-items: center;
            min-width: 0;
            box-sizing: border-box;
        }
    }

    ims-grid2-header {
        font-weight: 600;
        user-select: none;

        ims-grid2-cell {
            user-select: none;
        }
    }

    ims-grid2-cell {
        display: flex;
        align-items: center;
        min-width: 0;
        overflow: hidden;
        grid-column-end: span 1;
    }

    .ims-grid2-clip {
        overflow: hidden;
        min-height: 0;
    }
}
