:is(.ims-button) {
    --ims-button__active-scale: 0.96;
    --ims-button__start-color: #000;
    --ims-button__end-color: #fff;
    --ims-button__ripple-fill-color: transparent;
    --ims-button__ripple-speed: 300ms;

    position: relative;
    isolation: isolate;
    min-block-size: 1rem;
    max-block-size: max-content;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: transparent;
    transition: color 450ms ease;
    color: var(--ims-button__start-color);

    &:after {
        --ims-button__ripple-background-color: #2563eb;
        --ims-button__ripple-background-radius: 0%;
        --ims-button__ripple-background: radial-gradient(circle, var(--ims-button__ripple-background-color) var(--ims-button__ripple-background-radius), transparent calc(var(--ims-button__ripple-background-radius) + 1px));
        background: var(--ims-button__ripple-background);
        opacity: 0;
        transition: opacity var(--ims-button__ripple-speed) ease,
        --ims-button__ripple-background-radius 0ms linear var(--ims-button__ripple-speed);
    }

    &:hover, &:focus-visible {
        color: var(--ims-button__end-color);
        transition: color calc(var(--ims-button__ripple-speed) * 2) ease;

        &:after {
            --ims-button__ripple-speed: 1.2s;
            --ims-button__ripple-background-radius: 100%;
            opacity: 1;
            transform: scale(1);
            transition: opacity var(--ims-button__ripple-speed) cubic-bezier(0, 0.5, 0, 1),
            --ims-button__ripple-background-radius var(--ims-button__ripple-speed) cubic-bezier(0, 0.5, 0, 1);
        }
    }

    &:active {
        color: var(--ims-button__end-color);

        &:before,
        &:after {
            transform: scale(var(--ims-button__active-scale));
        }

        &:before {
            transition: transform 90ms ease-out;
        }

        &:after {
            --ims-button__ripple-background-radius: 100%;
            opacity: 1;
            transition: opacity 0ms,
            --ims-button__ripple-background-radius 120ms ease-out,
            transform 90ms ease-out;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
    }

    &:before {
        background: var(--ims-button__ripple-fill-color);
    }
}

@property --ims-button__ripple-background-radius {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: false;
}

@property --ims-button__ripple-background-color {
    syntax: '<color>';
    initial-value: #fff;
    inherits: false;
}
