:root {
    --ims-color-primary: #00005F; // brand color

    --ims-color-primary-50: #EAEAF2;
    --ims-color-primary-100: #D5D5E4;
    --ims-color-primary-150: #BFBFD7;
    --ims-color-primary-200: #AAAACA;
    --ims-color-primary-250: #9595BC;
    --ims-color-primary-300: #8080AF;
    --ims-color-primary-350: #6A6AA2;
    --ims-color-primary-400: #555594;
    --ims-color-primary-450: #404087;
    --ims-color-primary-500: #2A2A7A;
    --ims-color-primary-550: #15156C;
    --ims-color-primary-600: #00005F;
    --ims-color-primary-650: #000054;
    --ims-color-primary-700: #000049;
    --ims-color-primary-750: #00003E;
    --ims-color-primary-800: #000033;
    --ims-color-primary-850: #000028;
    --ims-color-primary-900: #00001D;
    --ims-color-primary-950: #000012;
}

:root {
    --ims-color-secondary: #003CC3;

    --ims-color-secondary-50: #EAEFFA;
    --ims-color-secondary-100: #D5DFF5;
    --ims-color-secondary-150: #BFCEF0;
    --ims-color-secondary-200: #AABEEB;
    --ims-color-secondary-250: #95AEE6;
    --ims-color-secondary-300: #809EE1;
    --ims-color-secondary-350: #6A8DDC;
    --ims-color-secondary-400: #557DD7;
    --ims-color-secondary-450: #406DD2;
    --ims-color-secondary-500: #2A5DCD;
    --ims-color-secondary-550: #154CC8;
    --ims-color-secondary-600: #003CC3;
    --ims-color-secondary-650: #0035AC;
    --ims-color-secondary-700: #002E96;
    --ims-color-secondary-750: #00277F;
    --ims-color-secondary-800: #002068;
    --ims-color-secondary-850: #001952;
    --ims-color-secondary-900: #00123B;
    --ims-color-secondary-950: #000B24;
}

:root {
    --ims-color-danger: #C41446;

    --ims-color-danger-50: #FAEBF0;
    --ims-color-danger-100: #F5D8E0;
    --ims-color-danger-150: #F0C4D1;
    --ims-color-danger-200: #EBB1C1;
    --ims-color-danger-250: #E69DB2;
    --ims-color-danger-300: #E28AA3;
    --ims-color-danger-350: #DD7693;
    --ims-color-danger-400: #D86284;
    --ims-color-danger-450: #D34F74;
    --ims-color-danger-500: #CE3B65;
    --ims-color-danger-550: #C92855;
    --ims-color-danger-600: #C41446;
    --ims-color-danger-650: #AD123E;
    --ims-color-danger-700: #960F36;
    --ims-color-danger-750: #800D2E;
    --ims-color-danger-800: #690B25;
    --ims-color-danger-850: #52081D;
    --ims-color-danger-900: #3B0615;
    --ims-color-danger-950: #24040D;
}

:root {
    --ims-color-success: #007A60;

    --ims-color-success-50: #EAF4F2;
    --ims-color-success-100: #D5E9E5;
    --ims-color-success-150: #BFDED7;
    --ims-color-success-200: #AAD3CA;
    --ims-color-success-250: #95C8BD;
    --ims-color-success-300: #80BDB0;
    --ims-color-success-350: #6AB1A2;
    --ims-color-success-400: #55A695;
    --ims-color-success-450: #409B88;
    --ims-color-success-500: #2A907B;
    --ims-color-success-550: #15856D;
    --ims-color-success-600: #007A60;
    --ims-color-success-650: #006C55;
    --ims-color-success-700: #005E4A;
    --ims-color-success-750: #004F3F;
    --ims-color-success-800: #004133;
    --ims-color-success-850: #003328;
    --ims-color-success-900: #00251D;
    --ims-color-success-950: #001712;
}

:root {
    --ims-color-warning: #BC7A00;

    --ims-color-warning-50: #F9F4EA;
    --ims-color-warning-100: #F4E9D5;
    --ims-color-warning-150: #EEDEBF;
    --ims-color-warning-200: #E9D3AA;
    --ims-color-warning-250: #E3C895;
    --ims-color-warning-300: #DEBD80;
    --ims-color-warning-350: #D8B16A;
    --ims-color-warning-400: #D2A655;
    --ims-color-warning-450: #CD9B40;
    --ims-color-warning-500: #C7902A;
    --ims-color-warning-550: #C28515;
    --ims-color-warning-600: #BC7A00;
    --ims-color-warning-650: #A66C00;
    --ims-color-warning-700: #905E00;
    --ims-color-warning-750: #7A4F00;
    --ims-color-warning-800: #654100;
    --ims-color-warning-850: #4F3300;
    --ims-color-warning-900: #392500;
    --ims-color-warning-950: #231700;
}

:root {
    --ims-color-neutral: #5A5A68;

    --ims-color-neutral-50: #F1F1F2;
    --ims-color-neutral-100: #E4E4E6;
    --ims-color-neutral-150: #D6D6D9;
    --ims-color-neutral-200: #C8C8CD;
    --ims-color-neutral-250: #BABAC0;
    --ims-color-neutral-300: #ADADB4;
    --ims-color-neutral-350: #9F9FA7;
    --ims-color-neutral-400: #91919A;
    --ims-color-neutral-450: #83838E;
    --ims-color-neutral-500: #767681;
    --ims-color-neutral-550: #686875;
    --ims-color-neutral-600: #5A5A68;
    --ims-color-neutral-650: #50505C;
    --ims-color-neutral-700: #454550;
    --ims-color-neutral-750: #3B3B44;
    --ims-color-neutral-800: #303038;
    --ims-color-neutral-850: #26262C;
    --ims-color-neutral-900: #1B1B1F;
    --ims-color-neutral-950: #111113;
}
