<button
    #triggerButton
    cdkOverlayOrigin
    #overlayOrigin="cdkOverlayOrigin"
    type="button"
    class="ims-input ims-select__trigger"
    [imsTextTruncate]="multiple() ? selectedLabels().join(', ') : singleDisplayText()"
    imsTextTruncateTarget=".ims-select__value-text"
    imsTextTruncatePosition="bottom"
    [imsTextTruncateApplyStyles]="false"
    [imsTextTruncateShowOnFocus]="false"
    [imsTextTruncateOverflow]="multiple() && (multiDisplay().firstTruncated || multiDisplay().overflowCount > 0)"
    [class.ims-select__trigger--open]="open()"
    [class.ims-select__trigger--empty]="!hasSelection()"
    [class.ims-input--readonly]="interactionDisabled()"
    [disabled]="interactionDisabled() && !readonlyMultipleMode()"
    [attr.id]="id()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledby()"
    [attr.aria-haspopup]="readonlyMultipleMode() ? null : 'listbox'"
    [attr.aria-expanded]="open()"
    [attr.aria-controls]="readonlyMultipleMode() ? readonlyPanelId : (open() ? listboxId : null)"
    (click)="togglePanel()"
    (keydown)="onTriggerKeydown($event)"
    (blur)="onTriggerBlur()"
>
    <span
        #valueRow
        class="ims-select__value-row"
    >
        @if (hasSelection()) {
            @if (multiple()) {
                <span
                    class="ims-select__value-text"
                    [class.ims-select__value-text--truncate]="multiDisplay().firstTruncated"
                >
                    {{ multiDisplay().text }}
                </span>

            } @else {
                <span class="ims-select__value-text ims-select__value-text--truncate">
                    {{ singleDisplayText() }}
                </span>
            }
        } @else {
            <span class="ims-select__placeholder">{{ effectivePlaceholder() }}</span>
        }
    </span>

    @if (canClear()) {
        <span class="ims-select__clear-space" aria-hidden="true"></span>
    }

    @if (multiple() && !readonlyMultipleMode()) {
        <span
            class="ims-icon ims-select__mode-icon"
            aria-hidden="true"
            [textContent]="'playlist_add_check'"
        ></span>
    } @else {
        <span class="ims-select__chevron" aria-hidden="true"></span>
    }

    @if (multiple() && multiDisplay().overflowCount > 0) {
        <span class="ims-select__badge">+{{ multiDisplay().overflowCount }}</span>
    }
</button>

@if (canClear()) {
    <button
        type="button"
        class="ims-select__clear"
        [attr.aria-label]="effectiveLabels().clear"
        [attr.title]="effectiveLabels().clear"
        (pointerdown)="$event.preventDefault()"
        (click)="clearValue()"
    >
        <ims-icon>close</ims-icon>
    </button>
}

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="overlayOrigin"
    [cdkConnectedOverlayOpen]="open()"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayMinWidth]="panelMinWidth()"
    [cdkConnectedOverlayViewportMargin]="8"
    [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    (attach)="onOverlayAttached()"
    (positionChange)="onOverlayPositionChange($event)"
    (overlayOutsideClick)="onOutsideClick($event)"
>
    <div class="ims-select__overlay" [attr.dir]="directionality.value">
        @if (readonlyMultipleMode()) {
            <ims-selection-readonly-panel
                class="ims-select__readonly-panel"
                [attr.id]="readonlyPanelId"
                [titleId]="readonlyPanelTitleId"
                [values]="selectedLabels()"
                [labels]="effectiveLabels()"
                [maxHeight]="listboxMaxHeight()"
                [style.width.px]="panelMinWidth()"
                (keydown)="onPanelKeydown($event)"
            />
        } @else {
            <div
                tabindex="-1"
                [class.ims-select__overlay--toolbar-left]="toolbarSide() === 'left'"
                [class.ims-select__overlay--toolbar-right]="toolbarSide() === 'right'"
                (keydown)="onPanelKeydown($event)"
            >
                @if (showToolbar()) {
                    <ims-selection-toolbar
                        class="ims-select__toolbar"
                        [labels]="effectiveLabels()"
                        [viewMode]="viewMode()"
                        [viewModeCounts]="viewOptionCounts()"
                        [editMode]="editDialogMode()"
                        [editDisabled]="editDialogButtonDisabled()"
                        [editAriaLabel]="editDialogAriaLabel()"
                        (viewModeChange)="setViewMode($event)"
                        (editRequested)="requestEditDialog()"
                    />
                }

                <div #menu class="ims-select__menu" [style.min-width.px]="menuMinWidth()">
                    @if (showFilter()) {
                        <div #filterField class="ims-select__filter">
                            <input
                                #filterInput
                                class="ims-input"
                                type="text"
                                autocomplete="off"
                                [attr.id]="filterInputId"
                                [attr.placeholder]="effectiveLabels().filter"
                                [attr.aria-label]="effectiveLabels().filter"
                                [attr.aria-controls]="listboxId"
                                [attr.aria-activedescendant]="activeOptionId()"
                                [value]="filterQuery()"
                                (input)="onFilterInput($event)"
                            />
                        </div>
                    }

                    <div
                        #listbox
                        class="ims-select__listbox"
                        role="listbox"
                        tabindex="-1"
                        [attr.id]="listboxId"
                        [attr.aria-multiselectable]="multiple() ? 'true' : null"
                        [attr.aria-activedescendant]="activeOptionId()"
                        [style.min-height.px]="listboxMinHeight()"
                        [style.max-height.px]="listboxMaxHeight()"
                    >
                        @if (viewModeCaption(); as caption) {
                            <div class="ims-select__view-caption" role="note">{{ caption }}</div>
                        }

                        <ng-content select="ims-option" />

                        @if (visibleOptions().length === 0) {
                            <div class="ims-select__empty" role="note">{{ effectiveLabels().noOptions }}</div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</ng-template>

<span class="ims-select__measure" aria-hidden="true">
    <span #measureText class="ims-select__measure-text"></span>
    <span #measureBadge class="ims-select__badge"></span>
</span>
