<div
    class="ims-input ims-input-action__field ims-datepicker__field"
    data-ims-main-control
    [ims-error-popover]="errorPopoverErrors"
    [ims-error-popover-disabled]="internalErrorPopoverDisabled()"
    cdkOverlayOrigin
    #overlayOrigin="cdkOverlayOrigin"
    [class.ims-datepicker__field--open]="open()"
    [class.ims-datepicker__field--invalid]="parseInvalid()"
    [class.ims-datepicker__field--readonly]="readonlyMode()"
    [class.ims-datepicker__field--disabled]="disabled() && !readonlyMode()"
>
    <input
        #textInput
        type="text"
        role="combobox"
        inputmode="numeric"
        autocomplete="off"
        aria-autocomplete="none"
        aria-haspopup="dialog"
        class="ims-datepicker__input"
        [attr.id]="id()"
        [attr.pattern]="inputPattern()"
        [attr.placeholder]="inputPlaceholder()"
        [attr.aria-label]="ariaLabel()"
        [attr.aria-labelledby]="ariaLabelledby()"
        [attr.aria-controls]="open() ? dialogId : null"
        [attr.aria-expanded]="open()"
        [attr.aria-invalid]="errorPopoverErrors() ? true : null"
        [attr.aria-readonly]="readonlyMode()"
        [disabled]="interactionDisabled()"
        [value]="rawText()"
        (beforeinput)="onBeforeInput($event)"
        (input)="onTextInput($event)"
        (blur)="onInputBlur()"
        (keydown)="onInputKeydown($event)"
    />

    @if (canClear()) {
        <button
            type="button"
            class="ims-datepicker__clear"
            [attr.aria-label]="effectiveLabels().clearDate"
            [attr.title]="effectiveLabels().clearDate"
            (pointerdown)="$event.preventDefault()"
            (click)="clearDate()"
        >
            <ims-icon>close</ims-icon>
        </button>
    }
</div>

<button
    #toggleButton
    ims-button-icon
    type="button"
    class="ims-input-action__button ims-datepicker__toggle"
    aria-haspopup="dialog"
    [attr.aria-label]="open() ? effectiveLabels().closeCalendar : effectiveLabels().openCalendar"
    [attr.aria-controls]="open() ? dialogId : null"
    [attr.aria-expanded]="open()"
    [disabled]="interactionDisabled()"
    (click)="togglePicker()"
>
    <ims-icon>calendar_month</ims-icon>
</button>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="overlayOrigin"
    [cdkConnectedOverlayOpen]="open()"
    [cdkConnectedOverlayPositions]="overlayPositions"
    [cdkConnectedOverlayViewportMargin]="8"
    [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayFlexibleDimensions]="true"
    (attach)="onOverlayAttached()"
    (overlayOutsideClick)="onOutsideClick($event)"
    (detach)="closePicker()"
>
    <section
        #panel
        class="ims-datepicker__panel"
        role="dialog"
        aria-modal="true"
        cdkTrapFocus
        [attr.id]="dialogId"
        [attr.aria-labelledby]="headerButtonId"
        [attr.dir]="directionality.value"
        [class.ims-datepicker__panel--week-numbers]="showWeekNumbers()"
        (keydown.escape)="onPanelEscape($event)"
    >
        <header
            class="ims-datepicker__header"
            (keydown)="onHeaderKeydown($event)"
            (click)="onHeaderClick($event)"
        >
            <div class="ims-datepicker__navigation">
                <button
                    #previousFarButton
                    ims-button-icon
                    type="button"
                    class="ims-datepicker__step ims-datepicker__step--far"
                    [attr.aria-label]="navigationLabel('far', -1)"
                    [attr.title]="navigationLabel('far', -1)"
                    [disabled]="!canPreviousFar()"
                    (click)="navigate('far', -1)"
                >
                    <ims-icon class="ims-datepicker__step-icon">{{ navigationIcon('far', -1) }}</ims-icon>
                </button>
                <button
                    #previousNearButton
                    ims-button-icon
                    type="button"
                    class="ims-datepicker__step"
                    [attr.aria-label]="navigationLabel('near', -1)"
                    [attr.title]="navigationLabel('near', -1)"
                    [disabled]="!canPreviousNear()"
                    (click)="navigate('near', -1)"
                >
                    <ims-icon class="ims-datepicker__step-icon">{{ navigationIcon('near', -1) }}</ims-icon>
                </button>
                <button
                    #headerViewButton
                    [attr.id]="headerButtonId"
                    type="button"
                    class="ims-datepicker__view-button"
                    [attr.aria-label]="effectiveLabels().changeCalendarView"
                    (click)="cycleView()"
                >
                    {{ headerLabel() }}
                </button>
                <button
                    #nextNearButton
                    ims-button-icon
                    type="button"
                    class="ims-datepicker__step"
                    [attr.aria-label]="navigationLabel('near', 1)"
                    [attr.title]="navigationLabel('near', 1)"
                    [disabled]="!canNextNear()"
                    (click)="navigate('near', 1)"
                >
                    <ims-icon class="ims-datepicker__step-icon">{{ navigationIcon('near', 1) }}</ims-icon>
                </button>
                <button
                    #nextFarButton
                    ims-button-icon
                    type="button"
                    class="ims-datepicker__step ims-datepicker__step--far"
                    [attr.aria-label]="navigationLabel('far', 1)"
                    [attr.title]="navigationLabel('far', 1)"
                    [disabled]="!canNextFar()"
                    (click)="navigate('far', 1)"
                >
                    <ims-icon class="ims-datepicker__step-icon">{{ navigationIcon('far', 1) }}</ims-icon>
                </button>
            </div>

            <div
                class="ims-datepicker__shortcuts"
                [class.ims-datepicker__shortcuts--today-only]="calendarView() !== 'day'"
            >
                @if (calendarView() === 'day') {
                    <button
                        type="button"
                        class="ims-datepicker__shortcut"
                        [disabled]="!canSelectMonthStart()"
                        (click)="focusShortcut('month-start')"
                    >
                        {{ effectiveLabels().startOfMonth }}
                    </button>
                }
                <button
                    type="button"
                    class="ims-datepicker__shortcut"
                    [disabled]="!canSelectToday()"
                    (click)="focusShortcut('today')"
                >
                    {{ effectiveLabels().today }}
                </button>
                @if (calendarView() === 'day') {
                    <button
                        type="button"
                        class="ims-datepicker__shortcut"
                        [disabled]="!canSelectMonthEnd()"
                        (click)="focusShortcut('month-end')"
                    >
                        {{ effectiveLabels().endOfMonth }}
                    </button>
                }
            </div>
        </header>

        <div class="ims-datepicker__calendar">
            @switch (calendarView()) {
                @case ('day') {
                    <div
                        class="ims-datepicker__weekdays"
                        [class.ims-datepicker__weekdays--week-numbers]="showWeekNumbers()"
                        aria-hidden="true"
                    >
                        @if (showWeekNumbers()) {
                            <span class="ims-datepicker__week-heading">
                                {{ effectiveLabels().week }}
                            </span>
                        }
                        @for (weekday of weekdayLabels(); track $index) {
                            <span>{{ weekday }}</span>
                        }
                    </div>
                    <div
                        #grid
                        class="ims-datepicker__grid ims-datepicker__days"
                        [class.ims-datepicker__days--week-numbers]="showWeekNumbers()"
                        role="grid"
                        [attr.data-transition-direction]="calendarTransitionDirection()"
                        [attr.aria-label]="gridAriaLabel()"
                        [attr.aria-colcount]="showWeekNumbers() ? 8 : 7"
                        (keydown)="onCalendarKeydown($event)"
                        (click)="onGridClick($event)"
                    >
                        @for (row of dayRows(); track rowIndex; let rowIndex = $index) {
                            <div
                                role="row"
                                class="ims-datepicker__row"
                                [attr.aria-rowindex]="rowIndex + 1"
                            >
                                @if (showWeekNumbers()) {
                                    @let weekNumber = weekNumbers()[rowIndex];
                                    <span
                                        role="rowheader"
                                        class="ims-datepicker__week-number"
                                        [attr.aria-label]="effectiveLabels().week + ' ' + weekNumber"
                                    >
                                        {{ weekNumber }}
                                    </span>
                                }
                                @for (cell of row; track cell.id; let columnIndex = $index) {
                                    @if (cell.currentMonth) {
                                        <button
                                            [attr.id]="cell.id"
                                            type="button"
                                            role="gridcell"
                                            class="ims-datepicker__cell ims-datepicker__day"
                                            [class.ims-datepicker__cell--active]="cell.active"
                                            [class.ims-datepicker__cell--selected]="cell.selected"
                                            [class.ims-datepicker__cell--today]="cell.today"
                                            [attr.tabindex]="cell.active ? 0 : -1"
                                            [attr.aria-label]="dayAriaLabel(cell.date)"
                                            [attr.aria-selected]="cell.selected"
                                            [attr.aria-current]="cell.today ? 'date' : null"
                                            [attr.aria-colindex]="columnIndex + (showWeekNumbers() ? 2 : 1)"
                                            [disabled]="cell.disabled"
                                            (click)="selectDay(cell)"
                                            (focus)="activateDay(cell.date)"
                                        >
                                            {{ cell.label }}
                                        </button>
                                    } @else {
                                        <span
                                            class="ims-datepicker__day ims-datepicker__day-placeholder"
                                            aria-hidden="true"
                                        ></span>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
                @case ('month') {
                    <div
                        #grid
                        class="ims-datepicker__grid ims-datepicker__months"
                        role="grid"
                        [attr.data-transition-direction]="calendarTransitionDirection()"
                        [attr.aria-label]="gridAriaLabel()"
                        (keydown)="onCalendarKeydown($event)"
                        (click)="onGridClick($event)"
                    >
                        @for (row of monthRows(); track rowIndex; let rowIndex = $index) {
                            <div
                                role="row"
                                class="ims-datepicker__row"
                                [attr.aria-rowindex]="rowIndex + 1"
                            >
                                @for (cell of row; track cell.month; let columnIndex = $index) {
                                    <button
                                        [attr.id]="cell.id"
                                        type="button"
                                        role="gridcell"
                                        class="ims-datepicker__cell ims-datepicker__month"
                                        [class.ims-datepicker__cell--active]="cell.active"
                                        [class.ims-datepicker__cell--selected]="cell.selected"
                                        [attr.tabindex]="cell.active ? 0 : -1"
                                        [attr.aria-label]="cell.label + ' ' + calendarYear(cursor())"
                                        [attr.aria-selected]="cell.selected"
                                        [attr.aria-colindex]="columnIndex + 1"
                                        [disabled]="cell.disabled"
                                        (click)="selectMonth(cell)"
                                        (focus)="activateMonth(cell.month)"
                                    >
                                        {{ cell.label }}
                                    </button>
                                }
                            </div>
                        }
                    </div>
                }
                @case ('year') {
                    <div
                        #grid
                        class="ims-datepicker__grid ims-datepicker__years"
                        role="grid"
                        [attr.data-transition-direction]="calendarTransitionDirection()"
                        [attr.aria-label]="gridAriaLabel()"
                        (keydown)="onCalendarKeydown($event)"
                        (click)="onGridClick($event)"
                    >
                        @for (row of yearRows(); track rowIndex; let rowIndex = $index) {
                            <div
                                role="row"
                                class="ims-datepicker__row"
                                [attr.aria-rowindex]="rowIndex + 1"
                            >
                                @for (cell of row; track cell.year; let columnIndex = $index) {
                                    <button
                                        [attr.id]="cell.id"
                                        type="button"
                                        role="gridcell"
                                        class="ims-datepicker__cell ims-datepicker__year"
                                        [class.ims-datepicker__cell--active]="cell.active"
                                        [class.ims-datepicker__cell--selected]="cell.selected"
                                        [attr.tabindex]="cell.active ? 0 : -1"
                                        [attr.aria-label]="cell.year"
                                        [attr.aria-selected]="cell.selected"
                                        [attr.aria-colindex]="columnIndex + 1"
                                        [disabled]="cell.disabled"
                                        (click)="selectYear(cell)"
                                        (focus)="activateYear(cell.year)"
                                    >
                                        {{ cell.year }}
                                    </button>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </section>
</ng-template>
